.ContactUs {
  margin: 55px 0 0 0;

  background-color: #0a0a0a;
  color: white;
}
.ContactUsLeft {
  img {
    width: 100%;
    height: 100%;
  }
}
.ContactUsRight {
  background-color: #131313;
  height: 100%;
  text-align: center;
  padding: 10%;
}

.brandtext {
  color: #bea741;
  padding-top: 10px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
@media screen and (max-width: 767px) {
  .ContactUs {
    margin: 0;
  }
  .contactusnone {
    display: none;
  }
}
.ContactUsHeader {
  h1 {
    text-align: center;
  }
  p {
    text-align: center;
  }
}
