.Product {
  margin: 155px 0 0 0;


  .ProductDetailsImg {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      img {
        transform: scale(1.3);
        transition: all 0.5s ease;
      }
    }
  }

  .ProductDetailsInfo {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .Product {
    margin: 0;
  }
}

.ProductDetailsBrand{
  color: #bea741;
}
.ProductDetailsTitle{
  font-size:40px;
  font-weight: 800;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  &:hover{
    color: #bea741;
  }
}
.ProductDetailsName1{

  font-size: 30px;
  &:hover{
    color: #bea741;
  }


}
.ProductDetailsDetails, .ProductDetailsDescription{
  color: #bea741;
}
