.Product {
  margin: 155px 0;

  .ProductDetailsImg {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    &:hover {
      img {
        transform: scale(1.7);
        transition: all 0.5s ease;
      }
    }
  }

  .ProductDetailsInfo {
    color: white;
  }
}

@media screen and (max-width: 768px) {
  .Product {
    margin: 0;
  }
}
