.sectionMain__img {
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.brandtext {
color: 
rgba(138, 101, 48, 1);
}

.sectionMain {
  text-align: center;
  width: 60%;
  color: white;
  margin: 0 auto;
}

.sectionMain__title {

font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
color: rgba(199, 168, 113, 1);

}

.sectionMain__text{
  background: linear-gradient(90deg, #836B48 0%, #342814 100%);
}
