.Products {
  text-align: center;
  margin-top: 55px;
  color: #fff;
  .ProductCardImg {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.Products__filter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  button {
    background-color: #bea741;
    &:hover {
      background-color: #a38f3a;
    }
    color: white;
    font-size: 1.5rem;
    border: none;
    border-radius: 10px;

  }
}

@media screen and (max-width: 767px) {
  .Products {
    margin-top: 0;
  }
  .Productsnone {
    display: none;
  }
  .Products__filter {
    gap: 2px;
    button {
      font-size: 0.8rem;
    }
  }
}
