.Footer {
  background-color: #131313;
  color: #fff;
  padding: 40px 0;
  text-align: center;
}
.Footer .brandText {
  color: #bea741 !important;
  margin: 0;
}
.Footer h1 {
  padding: 5px 0 20px 0;
}

.img {
  width: 250px;
  height: 250px;
  object-fit: cover;
}