.SectionTop {
  background-color: #0a0a0a;
  color: white;

  .SectionTopLeft {
    img {
      width: 100%;
    }
  }
  .SectionTopRight {
    text-align: center;
    padding-top: 0%;
  }
}
.brandtext {
color: 
rgba(138, 101, 48, 1);
}
h1 {

font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
color: rgba(199, 168, 113, 1);

}
.sectionMain__text{
  background: linear-gradient(90deg, #836B48 0%, #342814 100%);
}