.header {
  z-index: 11;
  .headerLogo {
    img {
      width: 69px;
      height: 53px;
    }
  }
  background-color: #131313;
  position: fixed;
  width: 100%;
  top: 0;
  .active {
    color: gold;
    text-decoration: none;
  }

  .item {
    color: white;
    text-decoration: none;
    &:hover {
      color: gold;
      transition: all 0.3s ease-in-out;
    }
  }
}

.headerCenter {
  cursor: default;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 1rem 0;
  li {
    color: white;
    list-style: none;

    &:hover {
      color: #bea741;
      transition: all 0.3s ease-in-out;
    }
  }
}

.headerRight {
  cursor: default;
  margin: 1rem 0;
  color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  ul {
    display: flex;
    gap: 20px;
    margin: 0;
    li {
      list-style: none;
      a{
        color: white;
        text-decoration: none;
        &:hover {
          color: #bea741;
          transition: all 0.3s ease-in-out;
        }
      }
      &:hover {
        color: #bea741;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    display: none;
  }
}
