.Products {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.ProductCardImg {
  > img {
    width: 100% !important;
    height: 370px;
    object-fit: cover;
    &:hover {
      opacity: 0.5;
    }
  }
}

.ProductCard {
    width: 100%;
    // height: 100%;
}
.colpadding{
  padding:  15px;

}
.ProductCardPrice{
  color: #bea741;
  font-size: 12px;
}
.ProductCardTitle{
  font-size: 20px;
  font-weight: 700;
}
