.Products {
  text-align: center;
  margin-top: 50px;
  color: #fff;
}

.ProductCardImg {
  > img {
    width: 100% !important;
    height: 370px;
    object-fit: cover;
    &:hover {
      opacity: 0.5;
    }
  }
}

.ProductCard {
    width: 100%;
    // height: 100%;
}
.colpadding{
  padding:  15px;

}
.ProductCardPrice{
color: 
rgba(138, 101, 48, 1);
  font-size: 12px;
}
.ProductCardTitle{
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
color: rgba(199, 168, 113, 1);
font-size: 30px;
  &:hover{
    color: white;
  }
}
.ProductCardName1{
font-family: 'Times New Roman';
font-style: normal;
font-weight: 700;
color: rgba(199, 168, 113, 1);
font-size: 25px;
  &:hover{
    color: white;
  }
}
